
body {
}

#overlay {
    width: 400px;
    height: 300px;
    border: solid 1px black;
    position: fixed;
    top: 40px;
    right: 40px;
    display: none;
    background: rgba(220, 252, 255, 0.65);
    z-index: 999;
    animation: fade .6s;
    overflow: auto;

}

.close {
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;

}

.mainText {
    margin-left: 40px;
}

h4 {
    text-align: center;
}


#carousel  {
    list-style-type: none;
    display: inline-block;
    width: 300px;
    height: 140px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #382a23;
    background-color: ghostwhite;
}
 #carousel p {
     margin-left: 10px;

 }


.checkPart {
    position: relative;
    margin-left: 15px;
    width: 350px;
    height: 20px;
    margin-top: 20px;
    display: inline-block;

}
.removePopup {
    display: inline-block;
    float: left;
}

.changeText {
    display: inline-block;
    float: left;
    width: 300px;
    margin-left: 25px;

}

.prev {
    display: inline-block;
    float: left;
    border-radius: 50%;
    border: 1px solid #636363;
}

ul.dots {
    display: inline-block;
    float: left;
    width: 150px;
    height: 40px;
    padding-left: 0;
}

ul.dots li {

    width: 20px;
    height: 20px;
    color: rgb(154, 154, 154);
    float: left;
}

ul.dots li.redpoint {
    color: rgb(255, 19, 61);
}


.next {
    display: inline-block;
    float: left;
    border-radius: 50%;
    border: 1px solid #636363;
}
