<div class="loadingElement" style=" position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: white;">
    <p style="width: 500px;
    height: 40px;
    font-size: 40px;
    margin: 50px auto;
    margin-top: 200px;
    text-align: center;"> Loading, please wait </p>
    <p style="width: 500px;
    height: 40px;
    font-size: 40px;
    margin: 50px auto;
    margin-top: 200px;
    text-align: center;"><img src="resources/img/Preloader_2.gif" alt="loading" style="width: 100px;
      height: 100px;"></p>

</div>
