

<div class="historyOfGameEvents " id="historyOfGameEvents">
    <p>
        Действие игры происходит на Земле, пережившей «Великую грибную войну».
        После войны от планеты уцелели лишь две трети, выжившие земляне мутировали или же спаслись в неизвестных землях,
        а в мир вернулась магия.
        Мальчик Финн и собака Джейк живут в доме на дереве, расположенном в Конфетном Королевстве в Землях Ооо.
        В детстве Финн поклялся помогать каждому, кто попал в беду.
        Теперь он вместе с Джейком то и дело устремляется навстречу приключениям, спасая обитателей окрестных земель от
        различных монстров.</p>
    <button class="btnNext" id="btnNext" type="submit"><img src="./resourses/img/smalljake.jpg"/>Далее</button>

</div>