footer {
  margin-top: 0;
  width: 1600px;
  height: 100px;
  background-color: #8dc4b7;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7));
}
footer h6 {
  text-align: end;
  color: rgba(249, 249, 249, 0.71);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
  font-size: 20px;
  padding-top: 60px;
  padding-right: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
